<!DOCTYPE html>
<html>
    <head>
    
        <title>Patika Uygulaması</title>
    </head>
    <body>
    
   <img src="{{asset('/lucky/images/logo.png') }}">
   <link href="{{ asset('lucky/styles/styles.css') }}" rel="stylesheet"/>
   
        <h1>{{param}} Patika Uygulamasına Hoşgeldiniz</h1>
        <p>Bu bir patika uygulamasıdır</p>
        
        <script src="{{ asset('lucky/scripts/script.js') }}"></script>
    </body>
   
</html>